* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --clr-primary: #EC7263;
  --clr-dark: rgb(20,20,20);
  --clr-neutral: rgb(184, 184, 184);
  --clr-light: rgb(245,245,245);
}

body {
  background: var(--clr-dark);
  font-family: Arial, Helvetica, sans-serif;
  cursor: crosshair;
}

.card {
  -webkit-box-shadow: 0 0 15px rgba(100, 100, 100, 0.2);
          box-shadow: 0 0 15px rgba(100, 100, 100, 0.2);
  padding: 20px;
  margin-bottom: 50px;
  height: 100%;
  width: 100%;
}

.card .img-container .img {
  position: relative;
  height: 100%;
  width: 100%;
}

.card .img-container img#pc1, .card .img-container img#pc2 {
  display: none;
}

.card .content {
  padding: 10px;
}

.card .content .position {
  font-size: 30px;
  padding: 0 20px 0.5em 20px;
  font-weight: 600;
  color: var(--clr-secondary);
}

.card .content .organization {
  font-size: 20px;
  padding: 0 20px;
  font-weight: 400;
}

.card .content .date {
  font-size: 15px;
  padding: 0 20px;
  font-weight: 400;
}

.card .content .text {
  padding: 20px;
}

.card .content .text ul li {
  font-size: 15px;
  padding-bottom: 10px;
}

.about, .experiences, .competitions, .skills {
  padding: 0 10vw 2vh;
}

.secondary_heading {
  padding: 30px 0;
  font-size: calc(40px + 0.5vw);
  font-weight: 700;
}

.welcome {
  text-align: center;
  position: relative;
  width: 100%;
  height: 100vh;
}

.welcome #particles-js {
  background: var(--clr-dark);
  height: 100%;
}

.welcome #particles-js .topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.welcome #particles-js .topbar div {
  margin: auto;
  padding: 20px 0;
}

.welcome #particles-js .topbar div img#logo {
  display: none;
}

.welcome #particles-js .topbar div a {
  color: var(--clr-light);
  text-decoration: none;
}

.welcome #particles-js .topbar div a:hover {
  text-decoration: underline;
  color: var(--clr-primary);
}

.welcome #particles-js .text {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 35vh);
          transform: translate(-50%, 35vh);
}

.welcome #particles-js .text span {
  text-transform: uppercase;
  display: block;
}

.welcome #particles-js .text .text1 {
  color: var(--clr-light);
  font-size: calc(20px + 3vw);
  font-weight: 700;
  white-space: nowrap;
  letter-spacing: 4px;
  margin-bottom: 20px;
  position: relative;
  background: transparent;
  -webkit-animation: text1 2000ms 1;
          animation: text1 2000ms 1;
}

.welcome #particles-js .text .text2 {
  color: var(--clr-primary);
  font-size: calc(10px + 2vw);
  font-weight: 700;
  letter-spacing: 4px;
  margin-bottom: 20px;
  -webkit-animation: text2 2000ms 1;
          animation: text2 2000ms 1;
}

@-webkit-keyframes text1 {
  0% {
    color: var(--clr-dark);
    margin-bottom: -40px;
  }
  30% {
    letter-spacing: 12px;
    margin-bottom: -40px;
  }
  75% {
    letter-spacing: 4px;
    margin-bottom: -40px;
  }
}

@keyframes text1 {
  0% {
    color: var(--clr-dark);
    margin-bottom: -40px;
  }
  30% {
    letter-spacing: 12px;
    margin-bottom: -40px;
  }
  75% {
    letter-spacing: 4px;
    margin-bottom: -40px;
  }
}

@-webkit-keyframes text2 {
  0% {
    color: transparent;
  }
  80% {
    color: transparent;
  }
}

@keyframes text2 {
  0% {
    color: transparent;
  }
  80% {
    color: transparent;
  }
}

.about {
  padding: 0 5vw;
  position: relative;
  background-color: var(--clr-light);
}

.about .about-pic {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about .about__container {
  height: 100%;
  width: 100%;
  background: rgba(236, 236, 236, 0.85);
  position: relative;
  text-align: center;
  padding: 0 20px;
  font-size: calc(15px + 0.5vw);
}

.about .about__container .quote {
  padding: 0 1em;
  font-size: calc(20px + 0.7vw);
  font-weight: 700;
}

.about .about__container .author {
  padding-left: 25%;
  padding-top: 1em;
}

.about .about__container .mission-statement {
  padding: 2em;
  text-align: left;
  line-height: calc(22px + 0.5vw);
}

.about .about__container .spare-time {
  padding: 0 2em 0.5em 2em;
  text-align: left;
}

.about .about__container .spare-time div {
  padding-bottom: 0.5em;
}

.about .about__container .spare-time ul {
  padding-left: 20px;
}

.about .about__container .spare-time ul li {
  padding-bottom: 0.5em;
}

.about .about__container .contact-me {
  padding-bottom: 1em;
  font-size: calc(20px + 0.7vw);
}

.about .about__container .contact-me .text {
  padding: 15px 0;
}

.about .about__container .contact-me .links {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.about .about__container .contact-me .links a {
  padding: 10px;
}

.about .about__container .contact-me .links a:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.experiences {
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

.competitions {
  background-color: var(--clr-light);
  color: var(--clr-dark);
}

.projects {
  padding: 0 0 2vh 10vw;
  background-color: var(--clr-dark);
  color: var(--clr-light);
  position: relative;
}

.projects .instructions {
  opacity: 0;
}

.projects .software .softhead {
  color: var(--clr-secondary);
  font-size: 40px;
}

.projects .hardware .hardhead {
  color: var(--clr-secondary);
  font-size: 40px;
}

.projects .box {
  padding: 20px 0;
  height: 450px;
  background-color: transparent;
  overflow-x: scroll;
  overflow-y: scroll;
  white-space: nowrap;
}

.projects .box .projcard {
  display: inline-block;
  height: 100%;
  width: 300px;
  background-color: transparent;
  color: var(--clr-light);
  margin-right: 20px;
}

.projects .box .projcard .img-container .img {
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.projects .box .projcard .vid-container video {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.projects .box .projcard .text {
  padding-left: 10px;
}

.projects .box .projcard .text .name {
  font-size: 20px;
  padding: 10px 10px 10px 0;
}

.projects .box .projcard .text .tool {
  font-size: 15px;
  padding-bottom: 10px;
}

.projects .box .projcard .text .explanation {
  color: var(--clr-neutral);
  white-space: normal;
}

.projects .box::-webkit-scrollbar {
  display: none;
}

.skills {
  height: 100vh;
  color: var(--clr-dark);
}

.skills div .skills-pic {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.skills .skills-heading {
  color: var(--clr-light);
  padding: 30px;
  font-size: calc(40px + 0.5vw);
  font-weight: 700;
}

.skills .dropdown {
  height: 10vh;
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills .dropdown .languages, .skills .dropdown .tools, .skills .dropdown .data, .skills .dropdown .modelling, .skills .dropdown .electronics, .skills .dropdown .manufacturing {
  position: relative;
  -webkit-box-shadow: 0 0 15px rgba(100, 100, 100, 0.2);
          box-shadow: 0 0 15px rgba(100, 100, 100, 0.2);
  margin: 10px;
}

.skills .dropdown .languages ul, .skills .dropdown .tools ul, .skills .dropdown .data ul, .skills .dropdown .modelling ul, .skills .dropdown .electronics ul, .skills .dropdown .manufacturing ul {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  background: var(--clr-light);
  left: 0px;
  list-style: none;
  border-radius: 10px;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 1;
}

.skills .dropdown .languages ul li, .skills .dropdown .tools ul li, .skills .dropdown .data ul li, .skills .dropdown .modelling ul li, .skills .dropdown .electronics ul li, .skills .dropdown .manufacturing ul li {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills .dropdown .languages ul li:hover, .skills .dropdown .tools ul li:hover, .skills .dropdown .data ul li:hover, .skills .dropdown .modelling ul li:hover, .skills .dropdown .electronics ul li:hover, .skills .dropdown .manufacturing ul li:hover {
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
}

.skills .dropdown .languages a, .skills .dropdown .tools a, .skills .dropdown .data a, .skills .dropdown .modelling a, .skills .dropdown .electronics a, .skills .dropdown .manufacturing a {
  color: black;
  text-decoration: none;
}

.skills .dropdown .languages button, .skills .dropdown .tools button, .skills .dropdown .data button, .skills .dropdown .modelling button, .skills .dropdown .electronics button, .skills .dropdown .manufacturing button {
  padding: 15px;
  width: 200px;
  background: var(--clr-light);
  border-radius: 10px;
  text-decoration: none;
  border: none;
  color: black;
  font-size: 18px;
  cursor: pointer;
}

.skills .dropdown .languages button:focus + ul, .skills .dropdown .tools button:focus + ul, .skills .dropdown .data button:focus + ul, .skills .dropdown .modelling button:focus + ul, .skills .dropdown .electronics button:focus + ul, .skills .dropdown .manufacturing button:focus + ul {
  opacity: 1;
  pointer-events: all;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

footer {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;
}

footer .footquote {
  padding: 50px 0;
  font-size: 30px;
}

footer .footquote a {
  color: var(--clr-secondary);
}

footer p {
  font-size: 15px;
  color: var(--clr-neutral);
  padding-bottom: 10px;
}

.nav {
  opacity: 0;
  margin-bottom: -250px;
}
/*# sourceMappingURL=mobile.css.map */